@charset "UTF-8";
body {
  font-family: "hiragino-kaku-gothic-pron", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #555555;
  letter-spacing: 0.1em;
}

.light {
  color: #02acbb;
}

.section__head {
  padding-top: 102px;
  margin-bottom: 29px;
  font-size: 36px;
  font-family: "Noto Serif JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  letter-spacing: 0.1em;
}

.section__under-line {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 59px;
}

.section__contents-narrow {
  width: min(80%, 900px);
  margin-left: auto;
  margin-right: auto;
}

.section__contents-width {
  width: min(85%, 1000px);
  margin-left: auto;
  margin-right: auto;
}

.small-pc {
  display: none !important;
}

header {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  -webkit-box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.header {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  width: 95%;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__title {
  margin-right: 20px;
}
.header__title__logo {
  margin-top: 20px;
  margin-bottom: 10px;
  -o-object-fit: contain;
     object-fit: contain;
}
.header__nav {
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 25px;
}
.header__contact {
  background-color: #02acbb;
  color: #ffffff;
  height: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 40px;
  margin-left: -20px;
}
.header__contact__link {
  text-decoration: none;
}
.header__contact__link:hover {
  color: #be9d72 !important;
}

.nav__list__item__link {
  text-decoration: none;
}
.nav__list__item__link:hover {
  color: #be9d72 !important;
}

.header-contacta {
  padding: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: block;
}

main {
  margin-top: 138px;
}

.fv__contents__img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

#service {
  scroll-margin-top: 60px;
  margin-bottom: 100px;
}

.section__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}
.section__flex img {
  margin-left: 5%;
}

.section__contents__content__text {
  line-height: 2;
  letter-spacing: 0.075;
}

.section__contents__content__text span {
  font-weight: 600;
}

.section__contents__content__text + .section__contents__content__text {
  margin-top: 40px;
}

.salon {
  background-color: rgb(244, 251, 252);
  padding-top: 100px;
  padding-bottom: 100px;
  width: 100%;
}

.salon__text {
  font-size: 40px;
  font-family: "Noto Serif JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  text-align: center;
  letter-spacing: 0.16em;
  line-height: 1.7;
}

#features {
  scroll-margin-top: 60px;
}

.features__lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 130px;
  padding-bottom: 39px;
}
.features__text {
  text-align: center;
  font-size: 13px;
}

.reason__card + .reason__card {
  margin-top: 82px;
}

.reason__card__title {
  padding-bottom: 30px;
  margin-bottom: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 48px;
  border-bottom: 2px solid;
  font-family: "Noto Serif JP", sans-serif;
  font-optical-sizing: auto;
}
.reason__card__title__number {
  font-size: 80px;
  color: #02acbb;
  font-weight: 400;
  letter-spacing: 0.04em;
}
.reason__card__title__text {
  font-size: 28px;
  line-height: 1.7;
  font-weight: 500;
  letter-spacing: 0.1em;
}
.reason__card__text {
  line-height: 2;
  letter-spacing: 0.04em;
}
.reason__groups {
  margin-top: 108px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 80px;
}
.reason__examples {
  margin-bottom: 44px;
}
.reason__examples__top {
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  background-color: #555555;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 500;
  height: 47px;
}
.reason__example {
  margin-top: 44px;
  display: grid;
  grid-auto-flow: column;
  gap: 110px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.example__card__title {
  font-size: 30px;
  text-align: center;
  font-family: "Noto Serif JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  margin-bottom: 30px;
}
.example__card__text {
  margin-top: 30px;
  line-height: 2;
  text-align: center;
  letter-spacing: 0.075em;
}

#flow {
  scroll-margin-top: 60px;
}

.section__contents-flow {
  width: min(95%, 1150px);
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 100px;
}

.flow {
  background-color: rgb(244, 251, 252);
  margin-top: 100px;
}

#plan {
  scroll-margin-top: 60px;
}

.plan__contents__message {
  margin-bottom: 50px;
  text-align: center;
}
.plan__contents__text {
  font-size: 13px;
  line-height: 2;
  margin-top: 30px;
  letter-spacing: 0.075em;
}
.plan__img-top {
  margin-bottom: 50px;
}

#qa {
  scroll-margin-top: 60px;
}

.qa {
  margin-top: 100px;
  padding-bottom: 100px;
  background-color: rgb(244, 251, 252);
}
.qa__question {
  background-color: #ffffff;
  line-height: 2;
  margin-bottom: 30px;
  padding-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.qa__question__text {
  padding-top: 20px;
  padding-bottom: 20px;
}
.qa__question__q {
  color: rgb(46, 130, 137);
  padding-right: 10px;
}
.qa__answer {
  line-height: 2;
  padding-left: 20px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.qa__answer__a {
  color: #be9d72;
  padding-right: 10px;
}

#contact-form {
  scroll-margin-top: 60px;
}

.contact-form {
  margin-bottom: 150px;
}

.form-group {
  display: grid;
  grid-template-columns: 3fr 7fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.form-group input {
  background-color: #f0f0f0;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  border: none;
  font-size: 16px;
  letter-spacing: 0.1em;
}
.form-group input::-webkit-input-placeholder {
  color: rgb(176, 176, 176);
}
.form-group input::-moz-placeholder {
  color: rgb(176, 176, 176);
}
.form-group input:-ms-input-placeholder {
  color: rgb(176, 176, 176);
}
.form-group input::-ms-input-placeholder {
  color: rgb(176, 176, 176);
}
.form-group input::placeholder {
  color: rgb(176, 176, 176);
}
.form-group label {
  padding-top: 20px;
  padding-bottom: 20px;
}
.form-group textarea {
  background-color: #f0f0f0;
  border: none;
  padding-top: 20px;
  padding-left: 20px;
  height: 150px;
  resize: none;
  letter-spacing: 0.1em;
  font-size: 16px;
}
.form-group textarea::-webkit-input-placeholder {
  color: rgb(176, 176, 176);
}
.form-group textarea::-moz-placeholder {
  color: rgb(176, 176, 176);
}
.form-group textarea:-ms-input-placeholder {
  color: rgb(176, 176, 176);
}
.form-group textarea::-ms-input-placeholder {
  color: rgb(176, 176, 176);
}
.form-group textarea::placeholder {
  color: rgb(176, 176, 176);
}

.form-group + .form-group {
  border-bottom: 2px #f0f0f0 solid;
  padding-top: 31px;
  padding-bottom: 31px;
}

.form-group-name {
  border-bottom: 2px #f0f0f0 solid;
  padding-bottom: 31px;
}

.form-group-contact {
  border-bottom: none !important;
}
.checkbox-group {
  display: grid;
}

.checkbox-group input[type=checkbox] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0;
  width: 25px;
  height: 25px;
  position: relative;
  cursor: pointer;
  background-color: #f0f0f0;
  vertical-align: middle;
}

.checkbox-group input[type=checkbox]:checked {
  background-color: #ffffff;
  border: 2px #f0f0f0 solid;
}

.checkbox-group input[type=checkbox]:checked::after {
  content: "✓";
  color: black;
  font-size: 16px;
  position: absolute;
  left: 3px;
  top: -2px;
}

.privacy {
  margin-top: 61px;
  margin-bottom: 64px;
  line-height: 2;
}
.privacy__title {
  font-weight: 600;
}

.form-submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.form-submit button {
  color: #ffffff;
  font-size: 20px;
  background-color: rgb(46, 130, 137);
  border-radius: 45px;
  border: none;
  width: 500px;
  height: 70px;
  letter-spacing: 0.1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.form-submit button:hover {
  cursor: pointer;
  opacity: 0.7;
}

.footer {
  background-color: rgb(46, 130, 137);
}
.footer__contents {
  padding-top: 50px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__title {
  padding-bottom: 100px;
}
.footer__title__text {
  font-size: 22px;
  line-height: 2;
  color: #ffffff;
  font-weight: 500;
  letter-spacing: 0.1em;
}
.footer__nav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 35px;
  color: #ffffff;
  letter-spacing: 0.1em;
  font-weight: 300;
}
.footer__nav__item__link:hover {
  color: #be9d72;
}

.footer__copy {
  background-color: rgb(96, 168, 174) !important;
  width: 100%;
  color: #ffffff;
  text-align: center;
}
.footer__copy__text {
  font-size: 16px;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media screen and (max-width: 1150px) {
  .pc {
    display: none !important;
  }
  .small-pc {
    display: block !important;
  }
  .header__title {
    height: 110px;
  }
  .header__contact {
    height: 110px;
  }
  .header__nav {
    padding-top: 20px;
    padding-bottom: 10px;
  }
  .header__nav__list {
    gap: 40px;
  }
  main {
    margin-top: 158px;
  }
  .section__contents__content__text {
    line-height: 2;
    font-size: 15px;
  }
  .section__contents__content__text + .section__contents__content__text {
    margin-top: 20px;
  }
  .section__contents__img {
    width: 280px;
  }
}
@media screen and (max-width: 989px) {
  .section__contents__img {
    width: 250px;
  }
  .section__contents__content__text {
    font-size: 14px;
  }
  .salon__text {
    font-size: 35px;
  }
  .reason__example {
    gap: 50px;
  }
  .example__card__title {
    font-size: 22px;
  }
  .footer__nav__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
}