$white: #ffffff;
$black: #000000;
$text-cl: #555555;
$text-light: #02acbb;
$text-hover: #be9d72;
$bg-cl: rgba(244,251,252,1.15);
$footer-cl: rgba(46, 130, 137, 1.15);
$copy: rgba(96, 168, 174, 115);
$fv-bg: #f6f6f8;
