@use "color";


// 共通
ol {
  list-style-type: decimal;
}

.privacy-maintitle{
    margin-top: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 1px color.$text-light solid;
    font-size: 20px;
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;

}
.privacy-maintext{
    margin-top: 18px;
    margin-right: auto;
    margin-left: auto;
}
.privacy-subtext{
    width:min(82%,950px);
    margin-right: auto; 
    margin-left: auto;
}

.privacy-subtext-mt{
    margin-top: 18px;
}
.privacy-subtext-none{
    list-style: none;
    line-height: 1.8;
}
.privacy-subtext-next{
    width:min(80%,920px);
    margin-left:auto;
    margin-right:auto;
    line-height: 1.5;
    
}

li > p.privacy-subtext-next:first-of-type {
    padding-top: 10px;
}


li > p.privacy-subtext-next:last-of-type {
    padding-bottom: 15px;
}


// pr-con
.pr-con{

    &__title{
        font-weight: 600;
        font-size: 18px;
        padding-top: 16px;
        padding-bottom: 10px;
        margin-top: 40px;
        border-top: 1px solid #AAAAAA;
        padding-bottom: 1px solid #AAAAAA;
    }
    dl{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    dt,dd{
        box-sizing: border-box;
    }
    dt{
        display: flex;
        align-items: center;
        width: 30%;
        padding: 29px;
        border-bottom: 1px solid #AAAAAA;
        font-size: 18px;
        font-weight: 600;
    }
    dd{
        display: flex;
        align-items: center;
        width: 70%;
        margin-left: 0;
        padding: 20px;
        border-bottom: #AAAAAA 1px solid;
    }
}

// others
.others{
    padding-left: 30px;
}

.personal-end{
    margin-bottom: 100px;
}