@use "color";
@use "breakpoints";

body{
    font-family: "hiragino-kaku-gothic-pron", sans-serif;
    font-weight: 300;
    font-style: normal;
    color:color.$text-cl;
    letter-spacing: normal;

    
}


// 共通
.light{
    color: color.$text-light;
}

.section__head{
    padding-top: 102px;
    margin-bottom: 29px;
    font-size: 36px;
    font-family: "Noto Serif JP" ,sans-serif;
    font-optical-sizing:  auto;
    font-weight: 500;
    font-style: normal;
    text-align: center;

}

.section__under-line{
    display: block;
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 59px;
}

.section__contents-narrow{
    width:min(80%,900px);
    margin-left:auto;
    margin-right:auto;
}
.section__contents-width{
    width:min(85%,1000px);
    margin-left:auto;
    margin-right:auto;
}


.small-pc{
    display: none !important;
}

// header
header{
    position:fixed;
    top:0;
    left: 50%;
    transform: translateX(-50%);
    width:100%;
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.1);
    background-color: color.$white;
}
.header {
    margin-left:auto;
    margin-right:auto;
    max-width:1200px;
    width:95%;
    z-index:999;
    display: flex;
    justify-content: space-between;
   

    &__title{
        margin-right: 20px;
        &__logo{
            margin-top: 20px;
            margin-bottom: 10px;
            object-fit: contain;
            
        }
    }


    &__nav{
        font-size: 16px;
        display: flex;
        align-items: center;

        &__list{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap:25px; 
        }
    }
    &__contact{
        background-color:#02acbb;
        color:color.$white;
        height: 140px;
        display: flex; 
        align-items: center; 
        padding: 0 40px; 
        margin-left: -20px;
        
        &__link{
            text-decoration: none;
            &:hover{
                color:color.$text-hover !important;
                }
        }
    }
}

.nav__list__item{
               

    &__link{
        text-decoration: none;
        
        &:hover{
            color:color.$text-hover !important;
        }
    }
    
}

.header-contact{
   

    &a{
        padding: 20px;
        align-items: center;
        display: block;
    }
}

main{
    margin-top: 138px;
}

// fv
.fv{

    &__contents{
       &__img{
        img{
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
       }
    }
}

// service
#service{
    scroll-margin-top: 60px; 
    margin-bottom: 100px;
}
.section__flex{
    display: flex;
    gap: 40px;
    img{
        margin-left: 5%;
    }
}
.section__contents__content__text{
    line-height:2;
}
.section__contents__content__text span{
    font-weight: 600;
}
.section__contents__content__text +
.section__contents__content__text{
    margin-top: 40px;
}

// salon
.salon{
    background-color: color.$bg-cl;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100%;
    
    
}
.salon__text{
    font-size: 40px;
    font-family: "Noto Serif JP" ,sans-serif;
    font-optical-sizing:  auto;
    font-weight: 300;
    text-align: center;
    letter-spacing: 0.02em;
    line-height: 1.7;

}


// features
#features{
    scroll-margin-top: 60px; 
}
.features{

    &__lists{
        display: flex;
        justify-content: center;
        gap: 130px;
        padding-bottom: 39px;
    }

     &__text{
            text-align: center;
            font-size: 13px;
        }
}

// reason
.reason__card +
.reason__card{
    margin-top: 82px;
}
.reason{
    &__card{
        &__title{
            padding-bottom: 10px;
            margin-bottom: 36px;
            display: flex;
            align-items: center;
            gap: 48px;
            border-bottom: 2px solid;
            font-family: "Noto Serif JP" ,sans-serif;
            font-optical-sizing:  auto;
            
            

            
            &__number{
                font-size: 80px;
                color: color.$text-light;
                font-weight: 400;


            }
            &__text{
                font-size: 28px;
                line-height: 1.8;
                font-weight: 500;
            }
        }
        &__text{
            line-height: 2;
            
            
        }
    }

    &__groups{
        margin-top: 108px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 80px;
    }

    &__examples{
        margin-bottom: 44px;

        &__top{
            font-size: 20px;
            color:color.$white;
            text-align: center;
            background-color: color.$text-cl;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 500;
            height: 47px;
            
        }
    }
    &__example{
        margin-top: 44px;
        display: grid;
        grid-auto-flow: column;
        gap: 110px;
        justify-content: space-between;
        width:95%;
        margin-left: auto;
        margin-right: auto;
    }

}
.example__card{
    &__title{
        font-size: 30px;
        text-align: center;
        font-family: "Noto Serif JP" ,sans-serif;
        font-optical-sizing:  auto;
        font-weight: 500;
        margin-bottom: 30px;
        
    }

    &__text{
        margin-top: 30px;
        line-height: 2;
        text-align: center;
    }
}


// flow
#flow{
    scroll-margin-top: 60px; 
}
.section__contents-flow{
    width:min(95%,1150px);
    margin-left:auto;
    margin-right:auto;
    padding-bottom: 100px;
}
.flow{
    background-color: color.$bg-cl;
    margin-top: 100px;

}




// plan
#plan{
    scroll-margin-top: 60px; 
}
.plan{

    &__contents__message{
        margin-bottom: 50px;
        text-align: center;

    }
    &__contents__text{
    font-size: 13px;
    line-height: 2;
    margin-top: 30px;
    
}


    &__img-top{
        margin-bottom: 50px;
    }
}



// qa
#qa{
    scroll-margin-top: 60px;
}
.qa{
    margin-top: 100px;
    padding-bottom: 100px;
    background-color: color.$bg-cl;

    &__question{
        background-color: color.$white;
        line-height: 2;
        margin-bottom: 30px;
        padding-left: 20px;
        display: flex;
        align-items: center;
        

        &__text{
            padding-top: 20px;
            padding-bottom: 20px;
            
        }
        &__q{
            color: color.$footer-cl;
            padding-right: 10px;
        }
    }

    &__answer{
        line-height: 2;
        padding-left: 20px;
        margin-bottom: 30px;
        display: flex;
        

        &__a{
            color:color.$text-hover;
            padding-right: 10px;
        }
    }
}

// contact-form
#contact-form{
    scroll-margin-top: 60px;
}
.contact-form{
    margin-bottom: 150px;
}
.form-group{
    display: grid;
    grid-template-columns: 3fr 7fr;
    align-items: center;

    input{
        background-color:#f0f0f0;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        border: none;
        font-size: 16px;
        letter-spacing: 0.1em;
        
        
        &::placeholder{
            color: rgba(176, 176, 176, 1.15);
        }
    }
    label{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    textarea{
        background-color:#f0f0f0;
        border:none;
        padding-top: 20px;
        padding-left: 20px;
        height:150px;
        resize: none;
        letter-spacing: 0.1em;
        font-size: 16px;
        &::placeholder{
            color: rgba(176, 176, 176, 1.15);
        }
    }
}
.form-group + .form-group{
    border-bottom: 2px #f0f0f0 solid;
    padding-top: 31px;
    padding-bottom: 31px;
}
.form-group-name{
    border-bottom: 2px #f0f0f0 solid;
    padding-bottom: 31px;
}
.form-group-contact{
    border-bottom: none !important;
    label{
       
    }
}
.checkbox-group{
    display: grid;
}
.checkbox-group input[type="checkbox"] {
    appearance: none; 
    padding: 0;
    width: 25px;
    height: 25px;
    position: relative;
    cursor: pointer;
    background-color: #f0f0f0;
    vertical-align: middle;
}

.checkbox-group input[type="checkbox"]:checked {
  background-color: color.$white; 
  border:2px #f0f0f0 solid;
}

.checkbox-group input[type="checkbox"]:checked::after {
  content: "✓";
  color: black; 
  font-size: 16px;
  position: absolute;
  left: 3px;
  top: -2px;
}

.privacy{
    margin-top: 61px;
    margin-bottom: 64px;
    line-height: 2;

    &__title{
        font-weight: 600;
    }
}
.form-submit{
    display: flex;
    justify-content: center;
    
    button{
    color:color.$white;
    font-size: 20px;
    background-color: color.$footer-cl;
    border-radius: 45px;
    border: none;
    width:500px;
    height: 70px;
    letter-spacing: 0.1em;
    display: flex; 
    align-items: center; 
    justify-content: center;

    &:hover{
        cursor: pointer; 
        opacity: 0.7;

    }
    }

}



// footer
.footer{
    background-color: color.$footer-cl;

    &__contents{
        padding-top: 50px;
        margin-left:auto;
        margin-right:auto;
        max-width:1200px;
        width:95%;
        display: flex;
        justify-content: space-between;
    }
    &__title{
        padding-bottom: 100px;
        &__text{
            font-size: 22px;
            line-height: 2;
            color:color.$white;
            font-weight: 500;
            letter-spacing: 0.1em;

            
        }
    }
    &__nav{
        &__items{
            display: flex;
            gap: 35px;
            color:color.$white;
            letter-spacing: 0.1em;
            font-weight: 300;
        }
        &__item{
            &__link:hover{
                 color:color.$text-hover;
            }
        }
    }
}

.footer__copy{
    background-color: color.$copy !important;
    width:100%;
    color:color.$white;
    text-align: center;
    &__text{
        font-size: 16px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    }
    


// small-pc
@include breakpoints.mq(pc-s) {
    .pc{
        display: none !important;
    }
    .small-pc{
        display: block !important;
    }


    .header__title{
        height: 110px;
    }
    .header__contact{
        height: 110px;
    }
    .header__nav{
        padding-top: 20px;
        padding-bottom: 10px;
        &__list{
            gap: 40px;
        }
    }
    main{
        margin-top: 158px;
    }

    .section__contents__content__text{
    line-height:2;
    font-size: 15px;
    }
    .section__contents__content__text +
    .section__contents__content__text{
        margin-top: 20px;
    }
    .section__contents__img{
        width:280px;
    }
    .reason__card__title__number{
        font-size: 75px;
    }
    .reason__card__title__text{
        font-size: 26px;
    }
}




// tab
@include breakpoints.mq(tab) {
    .tab{
        display: none;
    }
    .section__contents__img{
        width:250px;
    }
    .section__contents__content__text{
        font-size: 14px;
    }

    .salon__text{
        font-size: 35px;
    }
    .reason__example{
        gap: 50px;
    }
    .example__card__title{
        font-size: 22px;
    }

    .footer__nav__items{
        flex-direction: column;
        gap: 20px;
    }

    .reason__card__title__number{
        font-size: 70px;
    }
    .reason__card__title__text{
        font-size: 24px;
    }

  }
